body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.wrapper{
    border-radius: 25px;
    background-color: white;
    font-family: 'Kumbh Sans','sans-serif';
}

.question-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    margin: 15px 15px 15px 0px;
    padding: 0;
    color: hsl(237, 12%, 33%);
}
.line {
    border-top: 1px solid hsl(240, 5%, 91%);
}
.answer { 
    max-height: 30px; 
    width: 90%;
    margin-bottom: 15px; 
    margin-top: 0px;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.question-arrow{
    transition: all 0.4s;
    transform: rotate(0deg);
}
.rotate{
    transform: rotate(180deg);
}
.hidden {
    margin: 0;
    max-height: 0;
}
.attribution { font-size: 11px; text-align: center; color: lightgray;}
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}

@media (max-width: 1440px) {
    .woman-mobile { display: none; }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .woman-desktop {
        position: fixed;
        margin-top: 80px;
        margin-left: -80px;
    }
    .wrapper {
        width: 950px;
        height: 550px;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -750px -350px;
        background-size: 120%;
    }
    .accordion-wrapper {
        max-height: 300px;
        overflow-y: auto;
    }
    .accordion {
        width: 400px;
        margin: auto 50px auto auto;
    }
    .faq {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .question-title{
        font-size: 14px;
        font-family: 'Kumbh Sans','sans-serif';
    }
}

@media (max-width: 400px) {
    body {
        width: 100%;
        height: 100vh;
        padding-top: 60px;
    }
    .woman-desktop { display: none; }
    .woman-mobile {
        display: initial;
        position: absolute;
        width: 250px;
        top: 30px;
    }
    .wrapper{
        width: 330px;
        height: 550px;
        margin-top: 80px;
        margin-bottom: 30px;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: center -5px;
        background-size: 70%;
        display: flex;
        overflow: auto;
        justify-content: center;
        align-items: center;

    }
    .accordion{
        width: 80%;
        height: 405px;
        position: sticky;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        max-height: 350px;
        overflow: scroll;
        padding-top: 100px;
    }
    .accordion-wrapper {
        max-height: 300px;
        overflow-y: auto;
    }
    .faq{
        text-align: center;
        margin: 0px auto 20px auto;
        position: sticky;
    }
    .question-button{
        margin: 15px 0px 15px 0px;
        overflow: hidden;
    }
    .answer{
        overflow: hidden;
    }
}